*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color:black;
}
 .hero{
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),
    url("background.jpg") center/cover no-repeat;
    color:white;
    position: relative;
}


.navbar{
    display: flex;
    
    color:white;
    justify-content: space-between;
    align-items: center;
    padding:50px 60px;
    top:0;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.8);
}

.logo{
    font-size:26px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.nav-links{
    list-style: none;
    display:flex;
    gap:50px;
    margin:0;
    padding:0;
}
.nav-links li a{
    text-decoration: none;
    color:white;
    font-size:18px;
    position:relative;
    border-radius:5px;
    transition: 0.3s;
}
.nav-links li{
    cursor: pointer;
    transition: 0.3s;
}
.nav-links li a:hover{
    transform: translateY(-5px);
    background: #555;
}
.nav-links li .login-btn{
    background-color: #007bff;
    color:white;
    font-weight: bold;
    padding:10px 15px;
}
.nav-links li .login-btn:hover{
    background-color: #0056b3;
}
.nav-links:hover{
    color:var(--accent);
}
.hero-content{
    height:calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
}
.hero-content h1{
    font-size:56px;
    font-weight:700;
    margin-bottom: 20px;
}
.hero-content p{
    font: size 14%;
    opacity:0.8;
    max-width:600px;
    margin-bottom:35px;
    line-height:1.6;
}
.search-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.search-box{
    position: relative;
    width: 100%;
    max-width: 500px;
}
.search-container input {
    width: 120%;
    max-width: 500px;
    padding:15px 20px 15px 50px;
    font-size:16px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    outline: none;
    box-sizing: border-box;
    height: 55px;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    z-index: 2;
    font-size:20px;
    color: #888;
    pointer-events: none;
}
.search-container input ::placeholder{
    color:#888;
    font-weight: 500;
}
.search-container input:focus{
    border-color: aqua;
    box-shadow: 0 4px 10px rgba(0,255,255,0.3);
}
.search-box input:focus + .search-icon
svg path {
    fill:#4a90e2 ;
}
.features{
    display: flex;
    padding: 60px 40px;
    text-align: center;
    justify-content: space-around;
    
}
.card{
    width: 300px; 
    height:300px;
}
.card:hover{
    transform:translateY(-8px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color:rgba(255,255,255,0.1);
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color:white;
    font-size:24px;
    
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.buttons{
    display: flex;
    margin:20px 0;
    gap: 130px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.actions{
    text-align: center;
    margin:50px 0 80px 0;
    display: flex;
    justify-content: center;
    gap:50px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.fare-btn{
    padding:12px 30px;
    border:2px solid var(--primary);
    background: white;
    color:var(--accent);
    font-size:16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.fare-btn:hover{
    background: white;
    color:white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background: aqua;
    transform: translateY(-3px);
}
.book-btn{
    padding:12px 30px;
    border:none;
    background: white;
    color:black;
    font-size:16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.book-btn:hover{
    background: aqua;

    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}
.footer{
    background:var(--primary);
    color:white;
    padding-top:50px;
    margin-top:60px;
    justify-content:center;
    align-items:center;
    
}
.footer-container{
    background:var(--primary);
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    margin:70px;
    margin-top:20px;
    padding:0 40px 40px;
    justify-content:center;
    align-items:center;
}

.footer-col h3{
    margin-bottom:15px;
    
}
.footer-col p{
    font-size:14px;
    color:#ddd;
    line-height:1.8;
}
.footer-bottom{
    text-align:center;
    background:#08131c;
    padding:15px;
    font-size:13px;
}