* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: monospace;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(255,0,85);
    }

    .card {
      width: 350px;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      padding: 30px 40px 25px;
      text-align: center;
    }

    .title {
      font-family:  cursive;
      font-size: 40px;
      margin-bottom: 20px;
    }

    .card input[type="text"],
    .card input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      border: 1px solid #dbdbdb;
      font-size: 14px;
      background-color: #fafafa;
    }

    

    .btn-login {
      width: 100%;
      padding: 9px;
      margin-top: 5px;
      border-radius: 4px;
      border: none;
      background-color: #0095f6;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }

    

    .or {
      display: flex;
      align-items: center;
      margin: 15px 0;
      font-size: 12px;
      color: #8e8e8e;
      font-weight: 600;
    }

    .or::before,
    .or::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #dbdbdb;
    }

    .or span {
      margin: 0 15px;
    }

    .facebook-login {
      color: #385185;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .facebook-login i {
      margin-right: 6px;
    }

    .forgot {
      font-size: 12px;
      color: #00376b;
      cursor: pointer;
      margin-bottom: 15px;
    }

    .signup-box {
      width: 350px;
      text-align: center;
      margin-top: 10px;
      padding: 15px 0;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      font-size: 14px;
    }

    .signup-box a {
      color: #0095f6;
      text-decoration: none;
      font-weight: 600;
    }
