*{
    font-family:cursive;
}
table{
    border-collapse: collapse;
    border:1px solid black;
    border-radius: 3px;
    background-color: white;
}
th{
    font-family: fantasy;
    background-color: lightseagreen;
}