.booking-section {
    padding: 80px 20px;
    background: #f9f9f9;
    text-align: center;
}
.booking-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}
.booking-form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.booking-form:hover {
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}
.form-group {
    text-align: left;
}
.form-group input{
    width: 100%;
    padding: 13px 10px ;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.book-btn {
    padding: 15px;
    border: none;
    background:#333;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.book-btn:hover {
    background: #555;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}