body{
    background-color: peachpuff;
}

table{
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;  
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}